page-login {
 .content{
    background-image: url('../assets/imgs/back.png');
    background-size: cover;
 }
 .input-cover{
     position: static;
 }

 .infoinput{
    border-radius: 5px;
    background: white;
    margin-bottom: 20px;
    padding: 2px 40px 2px 10px;
 }

 .loginbtn{
    border-radius: 5px;
    background: #4cd04c;
    border: 2px solid white;
 }

 .forgetbtn{
     color: white;
     text-transform: none;
 }
 .newbtn{ 
    border-radius: 5px;
    background: brown;
    border: 2px solid white;
 }


}
