page-newbalagh {
 .content{
         background: #efefef;
 }   
.toolbar-title{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
    ion-icon{
        float: right;
    }

    }
     h5{
         padding-left: 20px;
         padding-right: 20px;
         margin: 10px 0px 10px;
     }
    
    .alitem{
        background-color: transparent;
        padding-right: 16px;
        width: 80%;
        padding: 0px 10px 0px;
        display: inline-block;
    }
    .list-header-md{
        margin-bottom: 0;
    }

    .radio-md .radio-icon{
        display: none;
    }
     .imgcom{
            
            width: 11%;
            margin: 0 12px 0 0;
            border-bottom: 1px solid lightgray;
     }
    .textnotes{
        background: white;
        margin: auto;
        width: 90%;
        padding: 0 10px;
        border: 1px solid gray;
        border-radius: 10px;
    }
    [col-3]{
        text-align: center;
        img{
            width: 55%;
        }
        h6{
                margin-top: 5px;
        }
    }
    h4{
    padding: 0 10px 10px;
    margin-bottom: 0px !important;
    font-size:16px;
    margin-bottom: 13px;
    font-weight: normal;
    border-bottom: 1px solid gray;
    }
 .list{
         border-bottom: 1px solid gray;
 }
 .send{
    border-radius: 5px;
    background: #4cd04c;
    border: 2px solid white;
    width: 90%;
    margin:auto;
 }
//  #874E0E
}
