<!--
  Generated template for the NewbalaghPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
   <ion-title>
          {{'New Balagh'| translate}}
        <ion-icon name="menu" (click)="openMenu()"></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list radio-group [(ngModel)]="NoticeTypeID">
  <h4>
    {{'Please Choose the Kind of your Complaint:'|translate}}
  </h4>
  <ion-item *ngFor="let note of notes" class="alitem">
    <ion-label>{{note.notice_typename}}</ion-label>
    <ion-radio name="noticename" [value]="note.NoticeTypeID"></ion-radio>
  </ion-item>

</ion-list>
<ion-textarea [(ngModel)]="othernote" name="othernote" cols="10" rows="3" placeholder="{{'Notes'|translate}}"class="textnotes">
 </ion-textarea>
 <h5>{{'Upload:'|translate}}</h5>
 <ion-row>
   <ion-col col-3>
     <img src="assets/imgs/photo.png" (click)="pickPicture()"><br>
     <h6>{{'Image'|translate}}</h6>
   </ion-col>
   <ion-col col-3>
     <img src="assets/imgs/video.png" (click)="recordVideo()"><br>
     <h6>{{'Video'|translate}}</h6>
   </ion-col>
   <ion-col col-3>
      <img src="assets/imgs/audio.png" (click)="recordAudio()"><br>
     <h6>{{'Audio'|translate}}</h6>
   </ion-col>
   <ion-col col-3>
      <img src="assets/imgs/camera.png" (click)="takePicture()"><br>
     <h6>{{'Camera'|translate}}</h6>
   </ion-col>
 </ion-row>
    <button class="send" [disabled]="othernote == null" ion-button block (click)="sendReport()">{{'Send'|translate}}</button>
  <ion-row >
    <ion-col col-4 *ngFor="let image of imagesReport">
      <img style="height: 100px;" [src]="image.Image">
    </ion-col>
  </ion-row>
</ion-content>
