page-mybalaghat {
.toolbar-title{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
    ion-icon{
        float: right;
    }
    }

    .card{
         height: 150px;
         border-radius: 15px;
         background: #f7f7f7;
         margin-bottom: 20px;
         margin-top: 20px;
    }
.card-header{
    padding-top:5px;
    padding-bottom: 5px;
    font-weight: 700;
}
    .card-content ,.card-header{
        padding-right:7px;
        padding-left: 7px; 
    }
}
