<!--
  Generated template for the MybalaghatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar><ion-buttons left>
		<button ion-button navPop icon-only>
			<ion-icon style="color:white" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>
    <ion-title>{{'Balaghaty'|translate}}
       <ion-icon name="menu" (click)="openMenu()"></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
 <div *ngIf="reports != null">     
      <ion-card  *ngFor="let report of reports">
          <ion-row>
            <ion-col col-11>
              {{report.area.area}} / {{report.city.city}} / {{report.muncicpality.muncicpality}}
             </ion-col>
            <ion-col col-1 style="text-align:end">
              <ion-icon (click)="deleteReport(report.NoticeID)" style="color:red" name="close-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>{{'Balagh Number:'|translate}}</ion-col>
            <ion-col col-4>{{report.NoticeID}}</ion-col>
            <ion-col col-2></ion-col>
          </ion-row>
          <ion-row style="border-bottom:1px solid gray">
            <ion-col col-6>{{'Date'|translate}}</ion-col>
            <ion-col col-6>{{report.created_at}}</ion-col>
          </ion-row>
            <ion-row>
            <ion-col col-12 style="max-height:50px;overflow:scroll">{{report.Note}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>{{'Status'|translate}}</ion-col>
            <ion-col col-6 style="text-align:end"> <span style="color:red" *ngIf="report.State == 0" >{{'Under Processing...' | translate}}</span>
            <span style="color:green" *ngIf="report.State != 0" >{{'Already Proceesed' | translate}}</span>
            </ion-col>
              <!--<span>Already Proceesed</span>-->
          </ion-row>
      </ion-card>
</div>

</ion-content>
