<ion-menu side="right" *ngIf="MainService.lang == 'ar'"  [content]="content">
  <ion-header *ngIf="userService.user != null">
    <ion-toolbar>
      <ion-title style="text-align:center;">
       <img style="border-radius: 50%;height: 110px;width: 110px;" *ngIf="userService.user.Image == null && image == null" name="image" src="assets/imgs/edit.png" height="90px" (click)="openEditaccountPage()">
       <img style="border-radius: 50%;height: 110px;width: 110px;" *ngIf="image != null" name="image" [src]="image" height="90px" (click)="openEditaccountPage()">
       <img style="border-radius: 50%;height: 110px;width: 110px;" *ngIf="userService.user.Image != null && image == null"  name="image" [src]="userService.user.Image" height="90px" (click)="openEditaccountPage()"><br>
        <button ion-button clear style="color:white" (click)="openEditaccountPage()">
          {{'Edit Account'|translate}}</button>
      </ion-title>
    </ion-toolbar>
  </ion-header>
    <!-- <ion-header *ngIf="userService.user == null">
    <ion-toolbar>
      <ion-title style="text-align:center;">
          {{'Balaghat El-Baladya'|translate}}
      </ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
       <ion-list *ngIf="userService.user == null">
         <button class="menubtn" menuClose ion-item color="standard" (click)="openLoginPage()">
         &nbsp;&nbsp; <ion-icon name="log-in"></ion-icon>
          {{'Login'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openSignupPage()">
          &nbsp;&nbsp;<ion-icon name="person-add"></ion-icon>
          {{'Sign up'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="exeEmergancy()">
          &nbsp;&nbsp;<ion-icon name="contacts"></ion-icon>
            {{'Emergancy Calls'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openImportnumsPage()">
          &nbsp;&nbsp;<ion-icon name="call"></ion-icon>
          {{'Important Numbers'|translate}}
        </button>
           <button class="menubtn" menuClose ion-item color="standard" (click)="openLang()">
          &nbsp;&nbsp;<ion-icon name="help-circle"></ion-icon>
            {{'Language'|translate}}
        </button>
      </ion-list>
       
        <ion-list *ngIf="userService.user != null">
        <button class="menubtn" menuClose ion-item color="standard" (click)="openHome()">
         &nbsp;&nbsp; <ion-icon name="map"></ion-icon>
           {{'Map'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openMybalaghatPage()">
          &nbsp;&nbsp;<ion-icon name="albums"></ion-icon>
            {{'Balaghaty'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openMessagesPage()">
          &nbsp;&nbsp;<ion-icon name="mail"></ion-icon>
          {{'Messages Box'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="exeEmergancy()">
          &nbsp;&nbsp;<ion-icon name="contacts"></ion-icon>
            {{'Emergancy Calls'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openFindbalaghPage()">
          &nbsp;&nbsp;<ion-icon name="warning"></ion-icon>
           {{'Search old balagh'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openImportnumsPage()">
          &nbsp;&nbsp;<ion-icon name="call"></ion-icon>
          {{'Important Numbers'|translate}}
        </button>
          <button class="menubtn" menuClose ion-item color="standard" (click)="exeHelp()">
          &nbsp;&nbsp;<ion-icon name="help-circle"></ion-icon>
            {{'Help'|translate}}
        </button>
           <button class="menubtn" menuClose ion-item color="standard" (click)="openLang()">
          &nbsp;&nbsp;<ion-icon name="help-circle"></ion-icon>
            {{'Language'|translate}}
        </button>
          <button class="menubtn" menuClose ion-item color="standard" (click)="goOut()">
         &nbsp;&nbsp; <ion-icon name="log-out"></ion-icon>
          {{'Sign Out'|translate}}
        </button>
      </ion-list>
  </ion-content>
</ion-menu> 


<ion-menu side="right" *ngIf="MainService.lang == 'en'" [content]="content">
   <ion-header *ngIf="userService.user != null">
    <ion-toolbar>
      <ion-title style="text-align:center;">
        <img style="border-radius: 50%;height: 110px;width: 110px;" *ngIf="userService.user.Image == null && image == null" name="image" src="assets/imgs/edit.png" height="90px" (click)="openEditaccountPage()">
        <img style="border-radius: 50%;height: 110px;width: 110px;" *ngIf="image != null" name="image" [src]="image" height="90px" (click)="openEditaccountPage()">
        <img style="border-radius: 50%;height: 110px;width: 110px;" *ngIf="userService.user.Image != null && image == null"  name="image" [src]="userService.user.Image" height="90px" (click)="openEditaccountPage()"><br>
        <button ion-button clear style="color:white" (click)="openEditaccountPage()">
          {{'Edit Account'|translate}}</button>
      </ion-title>
    </ion-toolbar>
  </ion-header>

 <!-- <ion-header *ngIf="userService.user == null">
    <ion-toolbar>
      <ion-title style="text-align:center;">
          {{'Balaghat El-Baladya'|translate}}
      </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
       <ion-list *ngIf="userService.user == null">
         <button class="menubtn" menuClose ion-item color="standard" (click)="openLoginPage()">
         &nbsp;&nbsp; <ion-icon name="log-in"></ion-icon>
          {{'Login'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openSignupPage()">
          &nbsp;&nbsp;<ion-icon name="person-add"></ion-icon>
          {{'Sign up'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="exeEmergancy()">
          &nbsp;&nbsp;<ion-icon name="contacts"></ion-icon>
            {{'Emergancy Calls'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openImportnumsPage()">
          &nbsp;&nbsp;<ion-icon name="call"></ion-icon>
          {{'Important Numbers'|translate}}
        </button>
           <button class="menubtn" menuClose ion-item color="standard" (click)="openLang()">
          &nbsp;&nbsp;<ion-icon name="help-circle"></ion-icon>
            {{'Language'|translate}}
        </button>
      </ion-list>
       
        <ion-list *ngIf="userService.user != null">
        <button class="menubtn" menuClose ion-item color="standard" (click)="openHome()">
         &nbsp;&nbsp; <ion-icon name="map"></ion-icon>
           {{'Map'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openMybalaghatPage()">
          &nbsp;&nbsp;<ion-icon name="albums"></ion-icon>
            {{'Balaghaty'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openMessagesPage()">
          &nbsp;&nbsp;<ion-icon name="mail"></ion-icon>
          {{'Messages Box'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="exeEmergancy()">
          &nbsp;&nbsp;<ion-icon name="contacts"></ion-icon>
            {{'Emergancy Calls'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openFindbalaghPage()">
          &nbsp;&nbsp;<ion-icon name="warning"></ion-icon>
           {{'Search old balagh'|translate}}
        </button>
         <button class="menubtn" menuClose ion-item color="standard" (click)="openImportnumsPage()">
          &nbsp;&nbsp;<ion-icon name="call"></ion-icon>
          {{'Important Numbers'|translate}}
        </button>
          <button class="menubtn" menuClose ion-item color="standard" (click)="exeHelp()">
          &nbsp;&nbsp;<ion-icon name="help-circle"></ion-icon>
            {{'Help'|translate}}
        </button>
           <button class="menubtn" menuClose ion-item color="standard" (click)="openLang()">
          &nbsp;&nbsp;<ion-icon name="help-circle"></ion-icon>
            {{'Language'|translate}}
        </button>
          <button class="menubtn" menuClose ion-item color="standard" (click)="goOut()">
         &nbsp;&nbsp; <ion-icon name="log-out"></ion-icon>
          {{'Sign Out'|translate}}
        </button>
      </ion-list>
  </ion-content>
</ion-menu> 


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>