page-details {
.divcontent{
    padding: 5px;
}
 .row {
         border-bottom: 1px dashed #1b5e1f;
         padding: 10px 5px;
 }
 .green {
    background:#d8f9da;
 }     
  [col-6]{
  text-align: center;
  }
}
