page-confirm {
  .toolbar-title{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
    ion-icon{
        float: right;
    }
    }  
.images{
    text-align: center;
    margin: 10px;
    border-bottom: 1px solid lightgray;
    p{
       font-size: 20px;
       color: #1b5e1f;
    }
}
.nums{
    border-bottom: 1px solid lightgray;
    padding:0 10px;
    span{
       
        padding: 0 40%;
    }
}
.balaghaty ,.messbox ,.mainpg{
    border-radius: 5px;
    border: 2px solid white;
    width: 80%;
    margin:14px auto;
}

.balaghaty{
    background: #015401;
}
.messbox{
    background: #2de664;
}
.mainpg{
    background: #844600;
}
.fab{
    background-color: #10d610;
    border: 1px solid black;
  }
.fab-in-list {
    color: #000;
    width: 113%;
    background: white;
    border-radius: 10px;
    ion-icon{
        margin: 5px;
    }
    }
}
